/* шрифт FrGot
@font-face {
  font-family: 'FranklinGot';
  src: local('FranklinGot'),
	   url('../fonts/framd.woff2') format('woff2'), 
	   url('../fonts/framd.woff') format('woff'),
	   url('../fonts/framd.ttf') format('ttf'),
	   url('../fonts/framd.eot') format('eot'),
	   url('../fonts/framd.otf') format('otf'),
	   url('../fonts/framd.svg') format('svg');
}
body h1{
    font-family: 'FranklinGot';
}
*/


 .x{
    border: 2px solid #000;
}
.y, .z{
    border: 2px solid red;
}

